body {
    background-color: darkgray;
    margin: 0;
    padding: 140px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-height: 80px;
    margin: 30px auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    width: 80%;
    margin: 0 auto;
}

.background-image {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1683088021841-465c694ad199?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1463&q=80);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    flex: 0.4;
}

#logo {
    display: block;
    width: 120px;
    height: auto;
    margin-left: 0;
}

nav {
    flex: 0.6;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
    margin: 0 0.4rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 1.5em 0;
}

nav ul li a, nav ul li a::after, nav ul li a::before {
    transition: all .5s;
}

nav ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: black;
    height: 3px;
}

nav ul li a:hover::after {
    left: 0;
    right: 0;
    width: 100%;
}